body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 80% !important;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000000;
  background-color: #fff;
  display: inline-block;
  width: 100%;
}

.header_wrap {
  width: 100%;
  padding: 0px;
  overflow: auto;
}

#jgi-header {
  margin: 0;
  padding: 0;
  min-height: 70px;
  display: grid;
  grid-template-areas:
        'logo navigation'
        'logo message';
  grid-gap: 0px;
  grid-template-columns: 480px auto;
  grid-template-rows: auto auto;
}

#jgi-logo {
  grid-area: logo;
  grid-row-start: logo;
  grid-column-start: logo;
  grid-row-end: logo;
  grid-column-end: logo;
}

.jgi-nav {
  display: block;
  grid-area: navigation;
  grid-row-start: navigation;
  grid-column-start: navigation;
  grid-row-end: navigation;
  grid-column-end: navigation;
}

.jgi-nav ul {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 0;
}

.jgi-nav ul li {
  display: inline-block;
  list-style-type: none;
  font-family: "Karla", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: underline;
  list-style-position: inside;
  margin-right: 10px;
}

ol, ul, dir, menu, dd {
  margin-left: 10px;
}



.divider {
  top: 0;
  background-color: #7aafd3;
  border: 0px;
  font-size: 0px;
  height: 2px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
}
