<div class="header_wrap">
  <header id="jgi-header">
    <div id="jgi-logo">
      <a href="https://jgi.doe.gov" title="DOE Joint Genome Institute" target="_parent">
        <img src="/assets/images/logo-JGI-SynBioView-2.png">
      </a>
    </div>
    <nav class="jgi-nav">
      <ul>
        <li>
          <a href="https://jgi.doe.gov" title="DOE Joint Genome Institute" target="_parent">JGI Home</a>
        </li>
        <li>
          <a class="textlink" id="logout" href="javascript: void(0);" (click)="logout()">Logout</a>
        </li>
        <ng-container *ngIf="userProfile">
          <li>
            <a class="textlink" target="_parent" href="https://signon.jgi.doe.gov/user/contacts/edit">
              {{ userProfile.firstName }} {{ userProfile.lastName }} ({{ userProfile.username }})</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </header>

  <div class="divider"></div>
</div>
