@import url("googleApisFonts.css");

.clear {
  clear: both;
  width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.wrapper {
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  clear: both;
  white-space: normal;
}

.divider-tall {
  height: 10px;
}
.divider {
  top: 0;
  background-color: #7aafd3;
  border: 0px;
  font-size: 0px;
  height: 2px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
}

#footer {
  background-color: #e9e9e9;
  background-image: none;
  background-repeat: no-repeat;
  /* height: 50px; */
  margin-top: 0pt;
  padding: 4px 0 0 0;
  color: #5a5a5a;
  font-family: "Karla", Helvetica, arial, sans-serif;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 80% !important;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000000;
  background-color: #fff;
  display: inline-block;
  width: 100%;
}

#footer ul {
  padding: 10px;
  margin: 0;
}

li {
  display: list-item;
  list-style-position: inside;
}

.float_left {
  display: block;
  float: left;
  top: 0;
}

ol, ul, dir, menu, dd {
  margin-left: 10px;
}
h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 10px 0;
}
html, address, blockquote, body, dd, div, dl, dt, fieldset, form, frame, frameset, h1, h2, h3, h4, h5, h6, noframes, ol, p, ul, center, dir, hr, menu, pre {
  display: block;
  /* vertical-align: bottom; */
}


html {
  font-size: 100% !important;
  width: 100%;
}



ol, ul, dir, menu, dd {
  margin-left: 10px;
}
h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 10px 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#footer ul li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
}
li {
  display: list-item;
  list-style-position: inside;
}

.float_right {
  display: block;
  float: right;
  top: 0;
}

#footer ul li a {
  color: #666666;
}
.right_content a.textlink, a.textlink, .textlink, .content_portal a {
  color: #000000;
  text-decoration: underline;
  border: 0;
  background: none;
  cursor: pointer;
  /* z-index: 100; */
}

html, address, blockquote, body, dd, div, dl, dt, fieldset, form, frame, frameset, h1, h2, h3, h4, h5, h6, noframes, ol, p, ul, center, dir, hr, menu, pre {
  display: block;
  /* vertical-align: bottom; */
}

html {
  font-size: 100% !important;
  width: 100%;
}

:root {
  --menu-bg-color: hsla(35, 100%, 97%, 1);
  --menu-highlite-bg-color: hsla(30, 40%, 41%, 1);
  --menu-text-color: hsla(274, 52%, 28%, 1);
  --menu-highlite-text-color: white;
  --menu-border-color: hsla(30, 62%, 44%, 1);
  --menu-border: 1px solid hsla(30, 62%, 44%, 1);
  --menu-disabled-text-color: grey;
}

#biosciences img{
  margin: 10px;
}

#doelogo img{
  margin: 10px;
}

.copyrightText {
  color: #2e2e2e;
  font-size: 0.75rem;
}

.threeLogo {
  float: right;
  padding-right: 1rem;
  padding-top: 0.75rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
}

.threeLogo > * {
  padding-left: 24px;
}

.facebookIcon {
  color: #3b5999;
  height: 70%;
}

.gridContainer {
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.linkFont {
  font-size: 0.75rem;
}

.title {
  color: black;
}

.toolBar {
  padding: 0;
  background-color: rgb(233, 233, 233);
  margin-top: 16px;
  bottom: 0;
}

.twitterIcon {
  color: #00acee;
  padding-left: 0.5rem;
  height: 70%;
}

.versionText {
  color: #2e2e2e;
  font-size: 0.65rem;
  padding-top: 0.35rem;
}

.ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.li {
  display: flex;
  margin-right: 1.25rem;
}
