<div class="wrapper">
  <div class="divider divider-tall"></div>
  <div id="footer">
    <ul class="float_left">
      <li><a target="_parent" class="textlink" href="http://www.jgi.doe.gov/whoweare/accessibility.html">Accessibility/Section
        508</a></li>
    </ul>
    <ul class="float_left">
      <li><a target="_parent" href="http://www.jgi.doe.gov/whoweare/disclaimer.html" class="textlink">Disclaimer</a>
      </li>
    </ul>
    <ul class="float_left">
      <li><a target="_parent" id="jgiContactTrigger" href="#" class="textlink feedback">Contact Us</a></li>
    </ul>
    <div class="float_right">
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-2">
        <div class="Footer_threeLogo__2uLC1" style="display: inline-flex;">
          <span id="biosciences"><a
          class="MuiTypography-root MuiLink-root MuiLink-underlineHover MuiTypography-colorPrimary"
          href="https://biosciences.lbl.gov" data-testid="bioSciencesLogoLink"><img
            src="assets/images/biosciences.png" alt="BioSciences" title="BioSciences, LBL"></a></span>
          <span id="lbl"><a
          class="MuiTypography-root MuiLink-root MuiLink-underlineHover MuiTypography-colorPrimary"
          href="https://www.lbl.gov" data-testid="lblLogoLink"><img src="assets/images/berkeleylab.png" alt="LBL"
                                                                    title="LBL"></a></span>
          <span id="doelogo"><a
          class="MuiTypography-root MuiLink-root MuiLink-underlineHover MuiTypography-colorPrimary"
          href="https://www.energy.gov/science/office-science" data-testid="doeLogoLink"><img
            src="assets/images/DOE_logo.png" alt="DOE" title="DOE Office of Science"></a></span></div>
      </div>
    </div>

    <!--    <div class="float_right">-->
    <!--      <span id="biosciences"><a href="https://biosciences.lbl.gov/" target="_parent">-->
    <!--        <img src="assets/images/biosciences.png" height="39" alt="BioSciences" title="BioSciences, LBL" border="0"></a></span>-->
    <!--      <span id="lbl"><a href="https://www.lbl.gov/" target="_parent">-->
    <!--        <img src="assets/images/berkeleylab.png" height="39" alt="LBL" title="LBL" border="0"></a></span>-->
    <!--      <span id="doelogo"><a href="http://science.energy.gov/" target="_parent">-->
    <!--        <img src="assets/images/DOE_logo.png" width="232" height="39" alt="DOE logo" title="DOE Office of Science" border="0"></a></span>-->
    <!--    </div>-->
    <div class="clear"></div>
    <ul>
      <li>&#169;&#160;1997-2022 The Regents of the University of California.</li>
    </ul>
  </div>
<!--  <div class="clear"></div>-->
</div>

