<!--<button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>-->
<!--<button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>-->
<!--<form *ngIf="isAdminUser" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">-->
<form *ngIf="userProfile && userProfile.enabled" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
  <div>
    <!--    <label for="email">Email address</label>-->
    <input type="email" class="form-control" id="email"
           placeholder="Email address" formControlName="email"/>
    <button class="button" type="submit" style="margin:5px;">Retrieve batches</button>
  </div>
</form>
<h2>Dashboard Project Table View Since FY 2020</h2>
<p-table #dt [columns]="batch_cols" styleClass="ui-table-cars" [value]="batches" responsiveLayout="scroll"
         selectionMode="single" [(selection)]="selectedBatch" dataKey="name" >

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pTooltip]="col.header"> test </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="caption">
    Project Dimension Data
    <div class="ui-table-globalfilter-container">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Search keyword"
             (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width:250px;">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" [pTooltip]="col.tooltip">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
      <td>{{rowData.pmoProposalId}}</td>
      <td>{{rowData.name}}</td>
      <!--            <td>{{rowData.batchId}}</td>-->
      <td>{{rowData.status}}</td>
      <td>{{rowData.counts}}</td>
      <td>{{rowData.basePairs}}</td>
      <td>{{rowData.deliverableCounts}}</td>
      <td>{{rowData.deliverableBasePairs}}</td>
      <td>{{rowData.pCompleted}}</td>
      <td>{{rowData.pInProgress}}</td>
      <td>{{rowData.pWaiting}}</td>
      <td>{{rowData.pAbandoned}}</td>
    </tr>
  </ng-template>
</p-table>

<ng-container *ngIf="selectedBatch">
  <h2>Dashboard Construct Data Table View Since FY 2020</h2>
  <p-table #dtConstr [columns]="constr_cols" styleClass="ui-table-cars" [value]="selectedBatch.constructDims"
           [scrollable]="true" scrollHeight="400px" selectionMode="single">
    <!-- Global Filter User Input-->
    <ng-template pTemplate="caption">
      Construct Dimension Data
      <div class="ui-table-globalfilter-container">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search keyword"
               (input)="dtConstr.filterGlobal($any($event.target).value,'contains')"
               style="width:250px;">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" [pTooltip]="col.tooltip">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
        <td>{{rowData.uName}}</td>
        <td>{{rowData.fdStatus}}</td>
        <td>{{rowData.jgiName}}</td>
        <td>{{rowData.receivedDate}}</td>
        <td>{{rowData.completedDate}}</td>
<!--        <td>{{rowData.fdSize}}</td>-->
      </tr>
    </ng-template>
  </p-table>
</ng-container>

